@{
    ViewBag.Title = "Who_We_Serve";
}

<h2>Who We Serve at ResourceSmart</h2>
<hr />
<div class="col-md-3">
    <a href="@Url.Action("CaseStudies", "Who_We_Serve")" class="btn btn-success">Case Studies</a>
    <a href="@Url.Action("Testimonials", "Who_We_Serve")" class="btn btn-success">Testimonials</a>
</div>
<div class="col-md-9">
    <p>
        ResourceSmart is dedicated to customer service. Whether you own one property or many, whether your property has 40 units or 400 we will serve you to the utmost of our ability. Historically ResourceSmart has a served those who are traditionally overlooked. Our cliental includes: multifamily affordable housing, market rate housing, property management companies, senior living facilities, nonprofit multifamily owners and rural properties.
    </p>
    <strong>Affordable Multifamily Housing</strong>
    <p>
        Low-income or fixed-income residents of affordable housing properties spend over four times the national average on their utility and health care costs. ResourceSmart’s green rehab is ideal for improving both of these issues, leading to lowered utility bills and healthier environments. We believe affordability is not just about rent and with our energy efficient upgrades we can address some of the crucial costs that hamper residents. Owners reap key benefits from the retrofits we provide including reduced utility costs and lowered O&M costs. Our programs are designed to benefit all parties, let us help you get started with your green rehab project today.
    </p>
    <strong>Senior & Disabled Housing Facilities <a href="#" class="btn btn-default" style="float:right; padding-left: 5px"><i class="fa fa-lightbulb-o fa-2x"></i> Contact Us</a></strong>
    <p>
        Senior and disabled housing facilities are often underserved group in energy efficient technology. Making green improvements to these types of facilities benefit the owner and the residents in key ways. The residents benefit from safer, healthier and more comfortable environments. These types of benefits are achieved through sealing drafts and hot/cold zones, increasing air quality, making more operable safer windows, improving lighting and lowering any utility costs. The owners benefit from reduced operating costs from lower utility and maintenance costs, increased property value and increased occupancy from the superior conditions.
    </p>
    <strong>Community and Utility Programs</strong>
    <p>
        ResourceSmart works with communities and utilities across Colorado, New Mexico and Texas to provide special incentives to residents and customers who recognize the value of a green rehab to their property. Select a community below to learn more about a local ResourceSmart program:
    </p>
    <p>
        <a href="@Url.Action("City_Arvada_Program", "Who_We_Serve")">City of Arvada</a> <i class="fa fa-angle-double-right"></i>
        <a href="https://www.blackhillsenergy.com/">Black Hills</a> <i class="fa fa-angle-double-right"></i>
        <a href="http://www.xcelenergy.com/">Excel Energy</a> <i class="fa fa-angle-double-right"></i>
        <a href="http://www.denverwater.org/">Denver Water</a>
    </p>
    <strong>Case Studies</strong>
    <p>
        For every project, ResourceSmart continues to monitor the effectiveness of energy efficiency and water conservation improvements. As part of our process, ResourceSmart continues to follow up with clients for 12 months after a project is completed to <strong>ensure that their building is performing properly</strong>.
    </p>
    <a href="@Url.Action("CaseStudies", "Who_We_Serve")" class="btn btn-success">Case Studies</a>
    <a href="@Url.Action("Testimonials", "Who_We_Serve")" class="btn btn-success">Testimonials</a>
</div>

